* {
    box-sizing: border-box;
}

body {
    text-align: center;
    font-size: 1.3rem;
    height: 150vh;
    background: lightblue;
}

input {
    width: 200px;
}

img {
    max-height: 300px;
}

h2 {
    margin-bottom: 0;
}

table {
    margin: 20px auto;
}

table, th, td {
    border: 2px solid black;
    background: white;
}